<!DOCTYPE html>
<html>
<head>
	<title>chat</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <!-- <select>
    <option value="Room1">Room1</option>
    <option value="Room2">Room2</option>
  </select> -->
	<div id="messages"></div>
	<form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>
<!--   <script src="/socket.io/socket.io.js"></script> -->
  <script type="text/javascript">
    const io = require('socket.io')
  </script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src ="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript">
	  username = '<%= username %>';
	  </script>
	<script>
  	$(function(){
		var socket = io(); //socket.io서버에 접속
  		$('form').submit(function(e){
  			e.preventDefault();
  			socket.emit('chat message', $('#m').val());
  			
  			$('#m').val('');
  			return false;
		  });
		socket.on('login', function(data){ //서버로부터 메시지 listening
			$('#messages').append("<li><strong>" + data + "</strong> 님이 참가하셨습니다. </li>");
		  });
		socket.on('logout', function(data){ //서버로부터 메시지 listening
			$('#messages').append("<li><strong>" + data + "</strong> 님이 퇴장하셨습니다. </li>");
  		});			  
		socket.on('chat message', function(data){ //서버로부터 메시지 listening
			$('#messages').append("<li><strong>" + data.username + "</strong> : " + data.msg + "</li>");
  		});
	});
    //   socket.emit('joinRoom', num);
    //   $('select').change(function(){
    //     socket.emit('leaveRoom', num);
    //     num++;
    //     num = num%2
    //     socket.emit('joinRoom', num);
    //   })

    //   socket.on('joinRoom', function(num){
    //     $('#messages').append($('<li>').text('user joined'+room[num]));
    //   });

    //   socket.on('leaveRoom', function(num){
    //     $('#messages').append($('<li>').text('user leaved'+room[num]));
    //   });
  	// 	socket.on('chat message', function(msg){
  	// 		$('#messages').append($('<li>').text(msg));
  	// 	});
  	// });
	</script> 
</body>
</html>